body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.flex{
    display: flex;
    margin: 2%;
}
.half-width{
    width: 48%;
}
.width{
    width: 80%;
}
.center{
    margin-left: 20%;
}
a{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 5px;
}